body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: "Roboto", "Raleway", "Oleo Script", sans-serif; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list{
    list-style: none;  
}

/* колір основного тексту #212121 */

/* вторичний колір тексту #757575 */

/* колір тексту логотипу #FFFFFF */

/* чорний логотип хедер #000000 */

/* колір тексту #FFFFFF 60%  */

/* акцент #2196F3 */

/* вторичний колір фона  #F5F4FA */

/* колір фону героя та футера #2F303A */

/* колір фона хедера #ECECEC */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #000;
    --title-text-color: #757575;
    --footer-text-color:#FFFFFF60;
    --accent-color: #2196F3;
    --primary-white-color: #FFF;
    --secondary-fon-color: #F5F4FA;
    --section-fon-color: #2F303A;
    --button-hover-color: #2196F350;
    }

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding: 94px 0;
}


/* Header */
.header {
    border-bottom: 1px solid #ECECEC;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    color: var(--secondary-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    padding: 24px 0px 25px 0px;
}

.logo__text {
    display: inline-block;
    color: var(--accent-color);
}

    
/* header__menu */
.header__link {
    position: relative;
    
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.header__link--current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.header__link:hover ,
.header__link:focus {
    color: var(--accent-color);
}

.header__menu {
    display: flex;
    margin-left: 93px;
}

.header__item:not(:last-child) {
    margin-right: 50px;
}

.header__link.current {
    color: var(--accent-color);

}

.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.contacts__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);  
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

/* hero */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--section-fon-color);
    text-align: center;
    
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imgfon1.jpg);
    background-repeat: no-repeat;
}

.hero-container {
    padding: 200px 0;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

.hero-title{
    margin:0 auto 30px auto;
    max-width: 696px;

    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button  {
    padding: 10px 32px; 
    border-radius: 4px;
    
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,      
.button:focus {
    background-color: var(--button-hover-color);
}

/* section */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* features */
.features {
    padding: 94px 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.features__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

.features__item {
    max-width: 270px;   
}

.features__menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.features__text {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.features__list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-fon-color);
    border-radius: 4px;
    margin-bottom: 30px;
}

/* work */
.work {
    padding: 94px 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    margin-bottom: 50px;    
}

.work__menu {
    display: flex;
    gap: 30px;
}


.work__activity {
    position: relative;
    display: flex;
    justify-content: center;
}

.work__activity::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.work__label {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 27px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    
    text-transform: uppercase;

    color: var(--primary-white-color);
}

/* team */
.team {
    padding: 94px 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: var(--secondary-fon-color);
    letter-spacing: 0.03em;
    text-align: center;
}

.team__title {
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    
}

.team__menu {
    display: flex;
    border: 1px;
    gap: 30px;
}

.team__card {
    padding: 30px;
}

.team__label {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
}

.team__subtitle {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.team__image {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-item {
    width: 44px;
    height: 44px;
}

.social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #AFB1B8;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: currentColor;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* clients */

.clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.clients-item {
    width: 170px;
    height: 92px;
}

.clients-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}


/* footer */
.footer {
    background-color: var(--section-fon-color);
    margin: 0;
    padding: 60px 0px;
}

.logo-footer {
    color: var(--primary-white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.logo-web {
    margin-bottom: 20px;
    color: var(--accent-color);
    display: inline-block;
}

.link-adress {
    color: var(--primary-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    text-decoration: none;
    letter-spacing: 0.03em;
    margin-bottom: 9px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-items .link-name:not(:last-child) {
    margin-bottom: 9px;
}

.link-items .link-adress:hover,
.link-items .link-adress:focus {
    color: var(--accent-color);
}  

.link-item {
    color: var(--footer-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    text-decoration: none;
    letter-spacing: 0.03em;
    margin-bottom: 9px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-items .link-item:hover,
.link-items .link-item:focus {
    color: var(--accent-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
} 

.container-adress {
    margin-right: 70px;
}

.social-footer {
    margin-right: auto;
}
.footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: var(--primary-white-color);
}
.social-footer-list {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    
}

.social-footer-item {
    width: 44px;
    height: 44px;
}

.social-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--primary-white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.social-footer-link:hover,
.social-footer-link:focus {
    background-color: var(--accent-color);
}
.social-footer-icon {
    fill: currentColor;
}

.form-box {
    
    } 

.footer-form-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}


.footer-form {
    display: flex;
    gap: 12px;
}

.footer-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--section-fon-color);
    color: rgba(255, 255, 255, 0.6);
    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
    border-color: var(--accent-color);
}


.footer-button {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 28px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    border: 0;
    border-radius: 4px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
    cursor: pointer;
        
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-button:hover,
.footer-button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
    margin-left: 10px;
}

/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    min-width: 528px;
    min-height: 581px;
    border-radius: 4px;
    background-color: var(--primary-white-color);

    
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    position: absolute;
    display: flex;
    top: 14px;
    right: 14px;
    width: 30px;
    height: 30px;
    padding: 6px;
    background-color: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 50%;
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover {
    fill: var(--accent-color);
}

/* Form */
.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    margin-bottom: 12px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: var(--title-text-color);
}

.form-control {
    position: relative;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    padding: 12px 11px 11px 36px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    outline: none;
    
    color: var(--title-text-color);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-input:hover, 
.form-input:focus {
    border-color: var(--accent-color);
}

.form-input:hover + .form-icon {
    fill: var(--accent-color);
}

.form-input:focus + .form-icon {
    fill: var(--accent-color);
}

.form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--primary-text-color);
}

/* Textarea */
.form-textarea {
    width: 100%;
    height: 120px;
    padding: 16px 12px 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    outline: none;
    resize: none;

    font-size: 12px;
    line-height: 1.166px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.form-textarea input::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}

.form-textarea:hover,
.form-textarea:focus {
    border-color: var(--accent-color);
}

/* Checkbox */
.checkbox-container {
    display: flex;
    margin-bottom: 30px;
}

.checkbox-input {
    appearance: none;
}

.checkbox-label {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.checkbox-input:checked +.checkbox-border {
    border: none;
    background-color: var(--accent-color);
}

.checkbox-border {
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    display: flex;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.check-icon {
    width: 11px;
    height: 8px;
}


/* button-form */
.checkbox-button {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.check-button {
    padding: 10px 52px;
    border-radius: 4px;
    
    color: var(--primary-white-color);
    background-color: #188CE8;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: 0;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .check-button:hover,
    .check-button:focus {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }



/* portfolio */
.filter {
    display: flex;
    Justify-content: center;
    margin-bottom: 50px;
}

.filter  .filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-item .filter-button:hover,
.filter-item .filter-button:focus { 
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    color: var(--primary-white-color);
}

.filter-button {
    cursor: pointer;
    background-color: var(--secondary-fon-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) ,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.filter .filter-button:hover,
.filter .filter-button:focus {
    background-color: var(--accent-color);
}

 /* products */
.product-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--primary-text-color);
    }

.products-link .products-box:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-thumb {
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    width: 370px;
    height: 294px;
}

.products-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--primary-white-color);
    padding: 63px 24px;

    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;

    transform: translateY(101%);
    transition: transform 250ms;
}

.products-link:hover .products-description {
    transform: translateY(0);
}

.products-link {
    text-decoration: none;
    
}

.product {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.products {
    display: flex;
    flex-wrap: wrap;
}   

.product-image {
    margin-right: 30px;
    margin-bottom: 30px;
    
}

.product-image:nth-child(3n) {
    margin-right: 0;
}

.product-image:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.box {
    padding: 20px 24px;
    border: 1px solid #EEE;
    border-top: 0;
}

